<!-- <div class="footer-wrapper">
    <div class="wrapper-left">
        <ul>
            <li>Home</li>
            <li>Sitemap</li>
            <li>About us</li>
        </ul>
    </div>
    <div class="wrapper-right">
        <div class="site-social-media">
            <span class="social-media-icon"><img src="/assets/icons/facebook.png" alt="facebook"></span>
            <span class="social-media-icon"><img src="/assets/icons/instagram.png" alt="instagram"></span>
            <span class="social-media-icon"><img src="/assets/icons/twitter.png" alt="twitter"></span>

        </div>
    </div>
</div> -->