<div class="wrapper-body">
    <div class="about-author">
        <div class="about-line"></div>
        <div class="circle"><img src="{{author.image}}"></div>
        <div class="author-info">
            <div class="info author-name">{{author.name}}</div>
            <div class="info author-descr">{{author.description}}</div>
            <div class="info author-degree">{{author.degree}}</div>
            <div>
                <span class="social-media-icon"><img src="/assets/icons/facebook.png" alt="facebook"></span>
                <span class="social-media-icon"><img src="/assets/icons/instagram.png" alt="instagram"></span>
                <span class="social-media-icon"><img src="/assets/icons/linkedin.png" alt="linkedin"></span>
                <span class="social-media-icon"><img src="/assets/icons/twitter.png" alt="twitter"></span>
            </div>
        </div>
    </div>
    <div class="blog-wrapper">
        <div class="blog-header">{{article.header}}</div>
        <div class="blog-content"><span>{{article.content}}</span></div>
        <div class="blog-footer"></div>
    </div>
</div>